*{
    padding:0;
    margin:0;
}
    
html{
        background-color: #FFF9EC;
        font-family: 'Coiny',"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 16px;
        overflow-x: hidden;
        letter-spacing: 0.05rem;
        line-height: 1.5;
    }
    
/* header */
#header{
    position:relative;
    background-image: url(../img/aboutheader.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
padding:30px;
display: inline-block;
}

.logo object{
  pointer-events: none;
max-width: 15vw;
}
#header h1{
    font-size: 3rem;
    color:#DEB283;
    text-align: center;
  
   line-height: 1;
}
#header h2{
  font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size:1.5rem;
    color:#62300C;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20%;
}
.social{
    position: absolute;
    display: flex;
    flex-direction: row;
    top:65%;
    right:5%;
    gap:15px
}
 /*　ハンバーガーボタン　*/
 .hamburger {
     border-radius: 15%;
    display : block;
    position: absolute;
    z-index : 15;
    right :10px;
    top   : 10px;
    width : 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background-color:#DD8F69;
    
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    top:10px;
    left: 10px;
    background : #ffffff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 15px;
  }
  .hamburger span:nth-child(2) {
    top: 25px;
  }
  .hamburger span:nth-child(3) {
    top: 35px;
  }
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 17px;
    left: 8px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 17px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active{
    background-color:transparent;
  }
  
  nav.globalMenuSp {
    border-radius: 0px 0px 0px 50px;
    position: absolute;
    z-index : 14;
    top  : 0;
    right : 0;
    color: #fff;
    background:rgba(221,143,105,0.97);
   
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease, visibility .5s ease;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .3s all;
    line-height: 1;
    font-weight: bold;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#DEB283;
   
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1.5em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }

/* content */
#content{
    overflow: hidden;
  background-image: url(../img/about2.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  margin-top: -10%;
  z-index: 2;
  position:relative;
font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif; 
}

.c3{
    position:absolute;
    z-index: -10;
    max-width: 85vw;
    top:250px;
    right:-20px;
    overflow-x: hidden;
  }

  a.btn_04 {
    font-family: 'Coiny';
    display: block;
    text-align: center;
    letter-spacing: 0.05rem;
    text-decoration: none;
    width: 200px;
   
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: 1px solid #62300C;
    color: #62300C;
    border-radius: 100vh;
    transition: 0.5s;
  border-bottom: solid 3px #381C07;
}

a.btn_04:hover {
    color: #fff;
    background: #62300C;
}

a.btn_04:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.apic, .bpic, .cpic{
  display:none;
}

.message img{
  max-width: 40vw;
}
.message{
   margin:10vh auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 30px;
    align-items: center;
    color: #62300C;
    font-size: 1.2rem;
  
    justify-content: center;
  
   
   
}
/* notice */
#notice{
    background-image: url(../img/productmiddle.svg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.cb1{
    position: absolute;
    top:10%;
    left:0
}
.cb2{
    position: absolute;
    bottom:0;
   right:0
}

.aboutflex{
  align-items: center; 
 margin:0 auto;
   padding-top:15% ;
   padding-bottom:15% ;
max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap:80px;
    color: #62300C;
    font-size: 1.2rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.aboutflex p{ font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

    padding-bottom: 30px;
}
.aboutflex img{
  max-width: 50vw; 
}
.highlight {
    text-decoration: underline; /* 下線 */
    text-decoration-thickness: 0.5em; /* 線の太さ */
    text-decoration-color:#F6DFB1; /* 線の色 */
    text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
    text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
  }
 
/* footer */
#footer{
  font-family:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    position:relative;
    background-color: #DEB283;
    z-index: 5;
  }
  .footerimg{
    position:absolute;
    top:-50px;
    right:0;
    overflow-x: hidden;
  }
  
  .footerflex{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:30px
  }
  
  .footernav li{
    display: inline-block;
    padding:25px;
    color:white;
    font-weight: bold;
    font-size: .9rem;
    line-height: 1.2;
    text-align: center;
  }
  .footernav li:hover{
   color:rgba(98,48,12,0.5)}
  .social2{
    display:flex;
    flex-direction: row;
    gap:30px;
  }
  .footerlogo{
    display: inline-block;
  }
  .footerlogo object{
    pointer-events: none;
  }
  
    
 
  @media screen and (max-width: 1050px) {
    html{
        font-size: 14px;
    }
    .footerflex{flex-direction: column;}
  
  .footernav li {
    display: block;
  padding:10px}
  .footerflex{
    gap:20px;}
    .hamburger {
        position: fixed;}
        nav.globalMenuSp {
          position: fixed;}
          .aboutflex img{
            max-width: 50vw; 
          }
          .c3{
            display:none;
          }
          .message{
            display:flex;
            flex-direction: column;
            max-width: 40vw;
            gap:30px;
            align-items: center;
            color:#62300C;
            font-size: 1.2rem;
        }
        .apic{
          display:block;
          position:absolute;
          top:25%;
          right:5%;
         
        }
        .apic object{ max-width: 120px;}
       
        .cpic{
          display:block;
          position:absolute;
          top:5%;
          left:3%;
        }
        .cpic object{
          max-width: 180px;
        }
        .bpic {
          display:block;
          position:absolute;
          bottom:3%;
          left:10%;
          z-index: -5;
        }
       .bpic object{
        max-width: 200px;
       }  
        
       
        #content{
          height:800px;
        }
        .aboutflex{
          max-width: 60vw;
        }
        .aboutflex img{
          max-width: 80vw;
        }
        .hamburger {
          position: fixed;}
          nav.globalMenuSp {
            position: fixed;}
            .logo object{
              pointer-events: none;
            width:150px;
            height:88px;
            }
            .n3 object{
              width:600px;
              height:378px;
            }
            
        }
        @media screen and (max-width: 600px) {
             #content{margin-top: -15%;
            }
            .logo{padding:10px}
            html{
                font-size: 12px;
            }
            
            .apic object{

              max-width: 80px;
          }
          .apic{
           
            right:3%
          }
          .bpic object{
            max-width: 100px;
            
          }
          .cpic object{
            max-width: 90px;
          }
          #content{
           height:700px;
          }
          .message{
            max-width: 60vw;
       
      }

          .message img{
            display:none;
          }
          .cb1{
            display:none;
          }
          .cb2{
            display:none;
          }
          .aboutflex{gap:30px;
            padding-top: 20%;
            padding-bottom: 20%;}
    .social{
      display:none;
    }
    .n3 object{
      width:350px;
      height:220px;
    }
    
                }
            .fadeUp{
                animation-name:fadeUpAnime;
                animation-duration:1.5s;
                animation-fill-mode:forwards;
                opacity:0;
                }
                
                @keyframes fadeUpAnime{
                  from {
                    opacity: 0;
                  transform: translateY(100px);
                  }
                
                  to {
                    opacity: 1;
                  transform: translateY(0);
                  }
                }
                
                
                /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
                 
                .fadeUpTrigger{
                    opacity: 0;
                }
